link(rel='stylesheet', href='/stylesheets/layout.css')
link(rel='stylesheet', href='/bootstrap-3.3.6/css/bootstrap.min.css')
//link(rel='stylesheet', href='/font-awesome-4.5.0/css/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/jquery.autocomplete.css')

<script type="text/javascript" src="/javascripts/libs/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/jquery.tablednd_0_5.js"></script>
<script type="text/javascript" src="/javascripts/libs/autoresize.js"></script>
<script type="text/javascript" src="/bootstrap-3.3.6/js/bootstrap.min.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
