extends layout
block scripts
  <script type="text/javascript" src="/javascripts/libs/settings.js"></script>
  <script type="text/javascript" src="/javascripts/stockInfo.js"></script>
  <script type="text/javascript" src="/javascripts/stock.js"></script>
  <script type="text/javascript" src="/javascripts/layout.js"></script>
//block content
  //h6= title
  //p Welcome to #{title}
