doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/jquery.autocomplete.css')
    <script type="text/javascript" src="/javascripts/libs/jquery-1.7.min.js"></script>
    //<script type="text/javascript" src="/javascripts/libs/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/jquery.tablednd_0_5.js"></script>
    <script type="text/javascript" src="/javascripts/libs/autoresize.js"></script>
    <script type="text/javascript" src="/javascripts/libs/settings.js"></script>
    <script type="text/javascript" src="/javascripts/stockInfo.js"></script>
    <script type="text/javascript" src="/javascripts/stock.js"></script>
    <script type="text/javascript" src="/javascripts/layout.js"></script> 

  body
    div(id='tabmenu')
      img(src='/favicon.ico',height='32px',width='32px',style='display: inline-block; padding-left: 30px; padding-right:10px;')
      h3 Express
      ul(class = 'menu')
        li
          a(href = '#custom-stock-infos') 自选股
        li
          a(href = '#portfolios') 资产组合
        li
          a(href = '#basci-options') 提醒设置
        li
          a(href = '#backup') 数据备份
    block content
    div#options
      div#custom-stock-infos
        div(style='float: left;')
          include quotes_table
        div(style='float: right;')
          ul
            li(type='none')
              img(id='img_min',src='http://image.sinajs.cn/newchart/min/n/sh000001.gif', width='100%')
          ul
            li(type='none')
              img(id='img_daily',src='http://image.sinajs.cn/newchart/daily/n/sh000001.gif', width='100%')
          select(id='period_tech',onchange='selectFigureType(this.options[this.options.selectedIndex].value)')
            optgroup(label='周期')
              option(value='daily') 日
              option(value='weekly') 周
              option(value='monthly') 月
              option(value='5min') 5分
              option(value='15min') 15分
              option(value='30min') 30分
            optgroup(label='技术指标')
              option(value='kdj') KDJ
              option(value='macd') MACD
              option(value='rsi') RSI
      div#portfolios 资产组合
      div#basci-options 提醒设置
      div#backup 数据备份


