doctype html
html
  head
    block head
      include head
    block scripts
  body
    block mbody
      block navigator
        include navigator
      block content
        div(id='options',class='container-fluid')
          div(id='custom-stock-infos',class='row')
            div(class='table-responsive col-md-6')
              include quotes_table
            div(class='col-md-6')
              include min_candle
      block extra_content
        include sign_in_up
      block footer
        div(class='footer-banner')
          p(class='text-center') By Chenghai XU, E-Mail: xuchenghai@gmail.com,  Copyright (c) 2016


