doctype html
html
  head
    include head
    <script type="text/javascript" src="/javascripts/libs/sha.js"></script> 
    <script type="text/javascript" src="/javascripts/login.js"></script> 
  body
    form(id='login',action='/users', method='post',onsubmit='return false', style='width: 280px; padding: 10px 50px 15px;')
      div
        label  Account 
        input(name='account',style='float: right')
      div
        label Password 
        input(id='password',type='password',style='float: right')
      div
        input(id='sha_pass',name='password',type='hidden')
      div
        button(type='submit') Login
        label(id='msg',style='color: red;float: right')

