ul
  li(type='none')
    img(id='img_min',class="img-responsive",src='http://image.sinajs.cn/newchart/min/n/sh000001.gif', style='max-width:100%')
ul
  li(type='none')
    img(id='img_daily',class="img-responsive",src='http://image.sinajs.cn/newchart/daily/n/sh000001.gif', style='max-width:100%')
select(id='period_tech',onchange='selectFigureType(this.options[this.options.selectedIndex].value)')
  optgroup(label='周期')
    option(value='daily') 日
    option(value='weekly') 周
    option(value='monthly') 月
    option(value='5min') 5分
    option(value='15min') 15分
    option(value='30min') 30分
  optgroup(label='技术指标')
    option(value='kdj') KDJ
    option(value='macd') MACD
    option(value='rsi') RSI
