table(class='table table-responsive table-condensed table-striped table-hover')
  thead
    tr
      th(style='white-space: nowrap;width:60px') 序号
      th(style='white-space: nowrap;width:60px') 日期
      th(style='white-space: nowrap;width:60px') 份额
      th(style='white-space: nowrap;width:60px') 净值
      th(style='white-space: nowrap;width:60px') 总资产
  tbody(id='netvalues_table')
    tr(class='templateRow',hidden)
      td
        div
          span(id='n_id') 
      td
        div
          span(id='n_date')
      td
        div
          span(id='n_share')
      td
        div
          span(id='n_value')
      td
        div
          span(id='n_total')


