extends layout
block scripts
  script.
    var g_orders = !{JSON.stringify(orders)};
    var g_portfolio = !{JSON.stringify(portfolio)};
  script(type='text/javascript', src='/javascripts/stockInfo.js')
  script(type='text/javascript', src='/javascripts/orders.js')
  script(type='text/javascript', src='/javascripts/stock.js')
block content
  div(id='orders',class='container')
    div(class='row')
      include orders_table
    div(class='row')
      div(class='col-sm-1')
        button(class='btn btn-default',onclick="location.href='/portfolios'") 返回 
  include order_dlg
