table(class='stocksTable table table-responsive table-condensed table-striped table-hover')
  thead
    tr
      th 序号
      th 名称
      th 总资产
      th 现金
      th 资产
      th 总盈亏
      th 操作
  tbody(id='portfolios_table')
    tr(class='templateRow',hidden)
      td
        div(style='cursor: pointer; ',title='点击打开')
          span(id='p_id') id
      td
        div(style='cursor: pointer; ',title='点击修改')
          span(id='p_name') name 
          input(type='text',hidden, style='width: 60px;')
      td
        div(class='open',style='cursor: pointer; ',title='点击打开')
          span(id='p_total') 0 
      td
        div(class='open',style='cursor: pointer; ',title='点击打开')
          span(id='p_cash') 0 
      td
        div(class='open',style='cursor: pointer; ',title='点击打开')
          span(id='p_asset') 0
      td
        div(class='open',style='cursor: pointer; ',title='点击打开')
          span(id='p_gain') 0
      td
        div(style='cursor: pointer; ',title='点击操作')
          select(id='p_action',class="c-select",onchange='portfolio_action(this)')      
            option(selected) 
            option(value='Position') Position
            option(value='NetValue') Net Value
            option(value='Order') Order
