table(class='table table-responsive table-condensed table-striped table-hover')
  thead
    tr
      th(style='white-space: nowrap;width:60px') 序号
      th(style='white-space: nowrap;width:60px') 组合
      th(style='white-space: nowrap;width:60px') 代码
      th(style='white-space: nowrap;width:60px') 名字
      th(style='white-space: nowrap;width:60px') 持仓
      th(style='white-space: nowrap;width:60px') 当前价
      th(style='white-space: nowrap;width:60px') 当前市值
      th(style='white-space: nowrap;width:60px') 成本价
      th(style='white-space: nowrap;width:60px') 成本市值
      th(style='white-space: nowrap;width:60px') 盈利
      th(style='white-space: nowrap;width:60px') 盈利率
  tbody(id='positions_table')
    tr(class='templateRow',hidden)
      td
        div
          span(id='p_id') 
      td
        div
          span(id='p_portfolio') 
      td
        div
          span(id='p_code')
      td
        div
          span(id='p_name')
      td
        div
          span(id='p_volume') 
      td
        div
          span(id='p_price')
      td
        div
          span(id='p_amount')  
      td
        div
          span(id='p_price_cost')
      td
        div
          span(id='p_amount_cost') 
      td
        div
          span(id='p_gain')  
      td
        div
          span(id='p_gain_rate')  


