extends layout
block scripts
  script.
    var g_positions = !{JSON.stringify(positions)};
    var g_portfolio = !{JSON.stringify(portfolio)};
  script(type='text/javascript', src='/javascripts/stockInfo.js')
  script(type='text/javascript', src='/javascripts/positions.js')
  script(type='text/javascript', src='/javascripts/stock.js')
block content
  div(id='positions',class='container')
    div(class='row')
      include positions_table
    div(class='row')
      div(class='col-sm-1')
        button(class='btn btn-default',onclick="location.href='/portfolios'") 返回 
      div(class='col-sm-1')
      div(class='col-sm-1')
        button(class='btn btn-default', data-toggle='modal', data-target='#new-order-modal') 新订单
  include order_dlg
