.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
table.stocksTable div.delete {
  background:url("/images/delete.png");
}
.gain_up {
  background-color: red;
}
.gain_down {
  background-color: green;
}
